# MongoDB Connection String
# جایگذاری کن: mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://sam:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority

# Port
PORT=7070

# Environment
FLASK_ENV=production
